/*
 * Context.css
 */

:root {
    var-default-color: rgb(50, 50, 50);
    var-inverted-color: rgb(250, 250, 250);
    var-default-highlight: rgb(61, 119, 255);
    var-inverted-highlight: rgb(255,255,255);
    var-affirmative: rgb(61, 119, 255);
    var-affirmative-spot: rgb(28, 60, 255);
    var-warning: rgb(255, 79, 84);
    var-warning-spot: rgb(255, 17, 26);
    var-recess: rgb(110, 110, 10);
}

html, body {
    width: 450px;
}

body {
    font-family: "Helvetic Neue", Arial, sans-serif;
    color: var(default-color);
    font-size: 15px;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
}

form {
    overflow: hidden;
    float: left;
    height: auto;
    width: 100%;
}

form[name='pin'] {
    padding-bottom: 20px;
}


form[name='user'] {
    padding-bottom: 15px;
}

input, input:focus,
textarea, textarea:focus,
select, select:focus {
    border: none;
    outline: none;
    background: transparent;
    -webkit-transition: border-color 300ms;
    transition: border-color 300ms;
}

input[type='text'] {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[name='url'] {
    width: 100%;
    border-bottom: 1px dashed var(recess);
}

input[name='description'] {
    width: 100%;
    font-weight: bold;
    border-bottom: 1px dashed var(recess);
    font-size: 1.5em;
}

select[name='tags'], .chosen-choices {
    width: 100%;
    display: block;
    margin-top: 0px;
    border-bottom: 1px dashed var(recess);
    min-height: 33px;
    clear: both;
}


.focused {
    color: var(affirmative);
}

.input-group {
    clear: both;
    width: 100%;
}

.input-group.inline {
    float: left;
    width: auto;
    clear: none;
    padding-right: 30px;
}

.input-group label {
    font-weight: bold;
    min-width: 100px;
    float: left;
    padding-top: 7px;
    -webkit-transition: color 300ms;
    transition: color 300ms;
}

.input-group input {
    display: inline-block;
    min-width: 300px;
    height: 30px;
    border-bottom: 1px dashed var(recess);
    margin-bottom: 14px;
}

input:focus, input:focus ~ label, .chosen-container-active ~ label {
    color: var(affirmative);
    border-bottom-color: var(affirmative);
}

.buttons {
    clear: both;
    margin-top: 25px;
    float: right;
}

.buttons.inline {
    clear: none;
    margin-top: 20px;
}

button:focus {
    outline: none;
}

.buttons button {
    border-radius: 2px;
    border: 1px solid var(recess);
    padding: 5px 7px;
    color: var(inverted-color);
    background: transparent;
    transition: background-color 300ms, color 350ms, border-color 400ms;
}

button[type='cancel'] {
    color: var(warning);
    border-color: var(warning);
}

button[type='submit'] {
    color: var(inverted-color);
    background: var(affirmative);
    border-color: var(affirmative-spot);
}

button[type='submit']:focus,
button[type='submit']:hover,
button[type='submit']:active {
    color: var(inverted-highlight);
    border-color: var(affirmative);
    background-color: var(affirmative-spot);
}

button[type='cancel']:focus,
button[type='cancel']:hover,
button[type='cancel']:active {
    color: var(inverted-highlight);
    border-color: var(warning);
    background-color: var(warning-spot);
}

.message {
    position: absolute;
    top: 15px;
    right: 5px;
    left: 5px;
    padding: 10px;
    color: var(recess);
    border: 1px solid var(recess);
    background-color: rgba(255,255,255,0.9);
    border-radius: 2px;
}

.message.alert {
    color: var(warning);
    border-color: var(warning);
}

.message.info {
    color: var(affirmative);
    border-color: var(affirmative);
}

select {
    height: 30px;
}

select > option {
    display: none;
    color: transparent;
}

.chosen-container.chosen-container-multi.chosen-container-active .chosen-choices {
    border-width: 0 0 1px 0;
    border-bottom: 1px dashed var(affirmative);
}

.chosen-container.chosen-container-multi .chosen-choices li.search-choice {
    margin: 3px 0 0 5px;
    padding: 0 5px;
    height: 27px;
    line-height: 25px;
    color: var(affirmative);
    border: 1px solid var(affirmative);
}

.chosen-container.chosen-container-multi .chosen-choices li.search-choice:first-child {
    margin-left: 0px;
}

.result-selected {
    display: none!important;
}

.search-field {
    display: inline-block!important;
    width: 1px!important;
    height: auto!important;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 12px;
    background: none;
    padding: 0 0 0 6px;
    box-sizing: border-box;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover,
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover ~ *
{
    color: var(warning);
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:after {
    content: '+';
    -webkit-transform: rotate(45deg);
    display: block;
    height: 15px;
    width: 15px;
    line-height: 15px;
    text-align: center;
    opacity: 1;
    visibility: visible;
    font-size: 20px;
    position: absolute;
    top: -3px;
    right: -3px;
}

.chosen-container .chosen-results li.active-result {
    cursor: pointer;
    display: inline-block;
    width: auto;
    float: left;
}

.chosen-container ul.chosen-results {
    max-height: 75px;
    overflow: scroll;
}

input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
    display: inline-block;
    vertical-align: middle;
    width: 40px;	height: 20px;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;
    box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
    margin: 15px 1.2em 15px 2.5em;
}

/* Checked Track (Blue) */
input[type="checkbox"].ios-switch:checked + div {
    width: 40px;
    background-position: 0 0;
    background-color: #3b89ec;
    border: 1px solid #0e62cd;
    box-shadow: inset 0 0 0 10px rgba(59,137,259,1);
}

/* Tiny Track */
input[type="checkbox"].tinyswitch.ios-switch + div {
    width: 34px;	height: 18px;
}

/* Big Track */
input[type="checkbox"].bigswitch.ios-switch + div {
    width: 50px;	height: 25px;
}

/* Green Track */
input[type="checkbox"].green.ios-switch:checked + div {
    background-color: #00e359;
    border: 1px solid rgba(0, 162, 63,1);
    box-shadow: inset 0 0 0 10px rgba(0,227,89,1);
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
    float: left;
    width: 18px; height: 18px;
    border-radius: inherit;
    background: #ffffff;
    -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color, box-shadow;
    -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
    -moz-transition-duration: 0.4s;
    -moz-transition-property: transform, background-color;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    margin-top: 1px;
    margin-left: 1px;
}

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
    -webkit-transform: translate3d(20px, 0, 0);
    -moz-transform: translate3d(20px, 0, 0);
    background-color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Tiny Knob */
input[type="checkbox"].tinyswitch.ios-switch + div > div {
    width: 16px; height: 16px;
    margin-top: 1px;
}

/* Checked Tiny Knob (Blue Style) */
input[type="checkbox"].tinyswitch.ios-switch:checked + div > div {
    -webkit-transform: translate3d(16px, 0, 0);
    -moz-transform: translate3d(16px, 0, 0);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Big Knob */
input[type="checkbox"].bigswitch.ios-switch + div > div {
    width: 23px; height: 23px;
    margin-top: 1px;
}

/* Checked Big Knob (Blue Style) */
input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
    -webkit-transform: translate3d(25px, 0, 0);
    -moz-transform: translate3d(16px, 0, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Green Knob */
input[type="checkbox"].green.ios-switch:checked + div > div {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63,1);
}