<div class="input-group">
    <input placeholder="Title" type="text" id="description" name="description" value="{{description}}">
</div>

<div class="input-group">
    <input placeholder="Site" type="text" id="url" name="url" value="{{url}}">
</div>

<div class="input-group">
    <label for="tags">
        Tags <button class="text-button small affirmative hidden" id="use-suggested-tags">Use suggested</button>
    </label>
    <select autofocus="autofocus" name="tags" data-placeholder="&nbsp;" multiple>
    </select>
</div>

<div class="input-group inline">
    <label>
        To read
        <input class="ios-switch bigswitch" type="checkbox" id="toread" name="toread" {{#if toread}}checked{{/if}}>
        <div><div></div></div>
    </label>
</div>

<div class="input-group inline">
    <label>
        Share
        <input class="ios-switch bigswitch" type="checkbox" id="shared" name="shared" {{#if shared}}checked{{/if}}>
        <div><div></div></div>
    </label>
</div>

<div id="time">

</div>

<div class="buttons">
    <button type="submit">
    {{#if existing}}
        Update
    {{else}}
        Save
    {{/if}}
    </button>
</div>