<h2>Hey there!</h2>
<p>
    We need you user name and password to authenticate you with the pinboard API once.
    Your password will be exchanged for an API token, so we do not have to store it.
</p>

<div class="input-group">
    <input type="text" name="user" value="{{user}}" placeholder="User name">
    <label for="user">User name</label>
</div>
<div class="input-group">
    <input type="password" name="password" value="{{password}}">
    <label for="user">Password</label>
</div>

<div class="buttons">
    <button type="submit">Send</button>
</div>